/* Global */

.bodySize
{
    max-width: 1980px;
    margin: 0 auto;
}

/* Home first section*/
#head
{
    height: 80vh;
    width: 100%;
}

#head img
{
    width: 100%;
    height: 80vh;
    transform: translate(0px, 0px);
}

@media screen and (max-width: 1050px)
{
  #head
  {
      height: 60vh;
  }

  #head img
  {
      height: 60vh;
  } 
}

@media screen and (max-width: 780px)
{
  #head
  {
      height: 40vh;
  }

  #head img
  {
      height: 40vh;
  } 
}

@media screen and (max-width: 550px)
{
  #head
  {
      height: 20vh;
  }

  #head img
  {
      height: 20vh;
  } 
}

@media screen and (max-width: 320px)
{
  #head
  {
      height: 10vh;
  }

  #head img
  {
      height: 10vh;
  } 
}

/* Flag for translate */
#translate img
{
    width: 55px;
    margin: 5px 0;
}

div.skiptranslate
{
    position: absolute;
    top: 60px;
    left: 0;
    padding-left: 5px;
}

.reservation a
{
    width: 250px;
}

/* Home carousel */
#carouselHome
{
  height: 60vh;
}

@media screen and (max-width: 1050px)
{
  #carouselHome
  {
    height: 60vh;
  }  
}

@media screen and (max-width: 780px)
{
  #carouselHome
  {
    height: 40vh;
  }  
}

@media screen and (max-width: 550px)
{
  #carouselHome
  {
    height: 20vh;
  }  
}

@media screen and (max-width: 320px)
{
  #carouselHome
  {
    height: 10vh;
  }  
}

/* Gestion */

    /* Global */

    .sectionGestion
    {
        width: 95%;
        background: beige;
        border: 1px solid #2e5b89;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        margin: 15px auto;
        color: rgb(0, 0, 0);
    }

    .containerGestion
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    /* Headers section */

    .containerGesiton header
    {
        font-size: 1em;
        margin-bottom: 10px;
        border: none;
    }

    /* Content */

    .containerContent
    {
        display: flex;
    }

    /* Action buttons */

    .containerBtns
    {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    .containerBtns a
    {
      text-align: center;
      margin: 5px 15px;
      text-decoration: none;
      color: #000000;
      font-weight: 700;
    }

    .containerBtns a:hover
    {
      color: #340068;
    }

    .containerBtns img
    {
      width: 75px;
      height: 75px;
    }

    .containerBtns a:hover img
    {
      margin-bottom: 5px;
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
    }

    /* Separator */

    .containerContent hr
    {
      margin-left: auto;
      height:100px;
      width: 2px;
      background-color: black;
    }

    /* Compteurs */

    .containerCount
    {
      width: 200px;
      text-align: center;
    }

    .containerCount p
    {
      width: 100%;
      height: 100%;
      display: flex;
      margin-top: -5px;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
    }

/* Tableaux */
table td
{
  vertical-align: middle;
}
