/* Global */

.bodySize
{
    max-width: 1980px;
    margin: 0 auto;
    z-index: auto;
}

#navHeader
{
  z-index: 5;
}

.container-fluid
{
  overflow-x: auto;
}

/* Home first section*/
#head
{
  @include vhWidth(80vh, 100%);

  @for $i from 1 through length($listeSize)
  {
    @include media-height(nth($listeSize, $i), nth($mediaHeight, $i));
  }

 /* @include media-height(780px, 40vh);
  @include media-height(550px, 20vh);
  @include media-height(320px, 10vh);*/
  
  img 
  {
    @include vhWidth(80vh, 100%);
    transform: translate(0px, 0px);

    @for $i from 1 through length($listeSize)
    {
      @include media-height(nth($listeSize, $i), nth($mediaHeight, $i));
    }
  }
}

/* Flag for translate */
#translate
{
  top: 10px;
  right: 75px;
}

#translate img
{
    width: 55px;
    margin: 5px 0;
}

div.skiptranslate
{
    position: absolute;
    top: 60px;
    left: 0;
    padding-left: 5px;
}

.reservation a
{
    width: 250px;
}

/* Home carousel */
#carouselHome
{
  height: 60vh;
  @for $i from 1 through length($listeSize)
  {
    @include media-height(nth($listeSize, $i), nth($mediaHeight, $i));
  }
}

/* Gestion */

    /* Global */

    .sectionGestion
    {
        width: 95%;
        background: $beige;
        border: 1px solid #2e5b89;
        @include border-radius(15px);
        margin: 15px auto;
        color: rgb(0, 0, 0);
    }

    .containerGestion
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    /* Headers section */

    .containerGesiton header
    {
        font-size: 1em;
        margin-bottom: 10px;
        border: none;
    }

    /* Content */

    .containerContent
    {
        display: flex;
    }

    /* Action buttons */

    .containerBtns
    {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    .containerBtns a
    {
      text-align: center;
      margin: 5px 15px;
      text-decoration: none;
      color: #000000;
      font-weight: 700;
    }

    .containerBtns a:hover
    {
      color: #340068;
    }

    .containerBtns img
    {
      width: 75px;
      height: 75px;
    }

    .containerBtns a:hover img
    {
      margin-bottom: 5px;
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
    }

    /* Separator */

    .containerContent hr
    {
      margin-left: auto;
      height:100px;
      width: 2px;
      background-color: black;
    }

    /* Compteurs */

    .containerCount
    {
      width: 200px;
      text-align: center;
    }

    .containerCount p
    {
      width: 100%;
      height: 100%;
      display: flex;
      margin-top: -5px;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
    }

/* Tableaux */
table
{
  overflow-x:visible;
}

table td
{
  vertical-align: middle;
}

/* Barre de recherche */
.btn-search
{
  top: 25px;
  right: -20px;
  background: transparent;
  padding: 0;
  border: none;
}